# ETL Project
## Irvine Company Apartments

In [3]:
# Import Scraping Dependencies

from bs4 import BeautifulSoup
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import warnings
warnings.filterwarnings('ignore')

In [4]:
# Import SQLAlchemy Dependencies

from sqlalchemy import create_engine, insert
from config import password
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

# Created link to PostgreSQL database

engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/ETL_IrvineCoApts_db')
connection = engine.connect()

In [5]:
# Reflect an existing database into a new model

Base = automap_base()

# Reflect the tables

Base.prepare(engine, reflect=True)

In [6]:
# Create references to the two tables being worked on

Cities = Base.classes.cities
Avg_Rents = Base.classes.avg_rent

In [7]:
# Create session through connection

session = Session(connection)

In [8]:
# Setup splinter

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - Driver [C:\Users\kate_\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

In [9]:
# Setting url path and browser visit, finding path to csv of avg rent data to scrape
# NOTE: regex magic provided by Renan Iwayama

url = "https://www.apartmentlist.com/research/category/data-rent-estimates"
browser.visit(url)
dd = browser.find_by_xpath('//*[@id="__next"]/div[4]/div/main/div[2]/div[4]/div[3]/div[1]/div/div[2]')
dd.click()

In [10]:
# Found link path to the csv and scraped from site

dd2 = browser.find_by_xpath('//*[@id="menu-age"]/div[3]/ul/li[7]')
dd2['data-value']

'//assets.ctfassets.net/jeox55pd4d8n/4XiVD8mlXEYknyJvl6ixSK/47cebf3ad55c338b6faf586b81c3a8f0/Apartment_List_Rent_Estimates_City_2021_1.csv'

In [11]:
# Read scraped csv into a dataframe

df = pd.read_csv("https:" + dd2["data-value"])
df

,City_Name,FIPS_Code,Population,Bedroom_Size,2017_01,2017_02,2017_03,2017_04,2017_05,2017_06,...,2020_04,2020_05,2020_06,2020_07,2020_08,2020_09,2020_10,2020_11,2020_12,2021_01
0,"Birmingham, AL",107000.0,212021.0,_Overall,842.00,851.00,850.00,855.00,864.00,870.00,...,918.00,919.00,922.00,938.00,950.00,958.00,960.00,958.00,954.00,946.00
1,"Birmingham, AL",107000.0,212021.0,_Studio,744.00,753.00,752.00,756.00,764.00,769.00,...,812.00,813.00,816.00,829.00,840.00,848.00,850.00,848.00,844.00,836.00
2,"Birmingham, AL",107000.0,212021.0,1br,708.00,716.00,715.00,719.00,726.00,731.00,...,772.00,773.00,775.00,788.00,798.00,806.00,807.00,806.00,802.00,795.00
3,"Birmingham, AL",107000.0,212021.0,2br,833.00,843.00,842.00,846.00,855.00,861.00,...,909.00,910.00,913.00,928.00,940.00,949.00,951.00,949.00,944.00,936.00
4,"Birmingham, AL",107000.0,212021.0,3br,1088.00,1100.00,1099.00,1105.00,1116.00,1124.00,...,1186.00,1188.00,1192.00,1212.00,1227.00,1239.00,1241.00,1239.00,1232.00,1222.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3985,"Queens, NY",NaN,NaN,3br,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
3986,"Brooklyn, NY",NaN,NaN,4br,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
3987,"Queens, NY",NaN,NaN,4br,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
3988,"Brooklyn, NY",NaN,NaN,5br or More,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
3989,"Queens, NY",NaN,NaN,5br or More,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA

In [12]:
# Tables created for splitting of location data

cities = []
state = []


# Pulled necessary columns, removed Bedroom Size data that contained nulls and that was not needed, renamed columns 
rents_df = df[['City_Name', 'Bedroom_Size']]

# this code pulls the lastest average rent prices
rents_df['Avg Rent'] = df[df.columns[-1]]

rents_fix = rents_df.loc[(rents_df['Bedroom_Size'] != '_Overall') & (rents_df['Bedroom_Size'] != '5br or More')]
rents_replace = rents_fix.replace('_Studio', 'Studio')
rents_rename = rents_replace.rename(columns = {'City_Name' : 'City', 'Bedroom_Size': 'Aprt Type'})

# Looped through the City column to split the city name and state into lists

for city in rents_rename['City']:
    splitting = city.split(',')
    cities.append(splitting[0])
    state.append(splitting[1])

# Added split lists to dataframe as own columns, adjusted necessary data, dropped old column with unsplit location,
# reorganized columns, found data only in California, and dropped remaining null value, data fully cleaned.
    
rents_rename['City Name'] = cities
rents_rename['State'] = state
rents_another_fix = rents_rename.replace(' CA', 'CA')
rents_delete_col = rents_another_fix.drop(['City'], axis = 1)
rents_rearrange = rents_delete_col[['City Name', 'State', 'Aprt Type', 'Avg Rent']]
rents_ca = rents_rearrange.loc[rents_rearrange['State'] == 'CA']
all_rents_ca = rents_ca.drop(index=397)
all_rents_ca

          City Name State Aprt Type Avg Rent
169     Aliso Viejo    CA    Studio  2028.00
170     Aliso Viejo    CA       1br  2107.00
171     Aliso Viejo    CA       2br  2644.00
172     Aliso Viejo    CA       3br  3280.00
173     Aliso Viejo    CA       4br  3584.00
..              ...   ...       ...      ...
673  West Hollywood    CA    Studio  1338.00
674  West Hollywood    CA       1br  1814.00
675  West Hollywood    CA       2br  2334.00
676  West Hollywood    CA       3br  3615.00
677  West Hollywood    CA       4br  4159.00

[364 rows x 4 columns]

In [13]:
# Grouped cleaned dataframe by city name to generate a list of cities to use for querying/adding data to PostgreSQL tables

grouped_cities = all_rents_ca.groupby(['City Name']).count()
grouped_cities_list = grouped_cities.index
grouped_cities_list

Index(['Aliso Viejo', 'Anaheim', 'Bakersfield', 'Burbank', 'Campbell',
       'Carlsbad', 'Chico', 'Chino', 'Chino Hills', 'Chula Vista',
       'Citrus Heights', 'Corona', 'Costa Mesa', 'Cupertino', 'Dublin',
       'Elk Grove', 'Emeryville', 'Escondido', 'Folsom', 'Foster City',
       'Fremont', 'Fresno', 'Fullerton', 'Glendale', 'Hayward',
       'Huntington Beach', 'Irvine', 'La Mesa', 'Laguna Niguel', 'Lake Forest',
       'Long Beach', 'Los Angeles', 'Marina del Rey', 'Milpitas',
       'Mission Viejo', 'Moreno Valley', 'Mountain View', 'Murrieta',
       'Newport Beach', 'Oakland', 'Oceanside', 'Ontario', 'Orange',
       'Pasadena', 'Pleasanton', 'Rancho Cucamonga', 'Rancho Santa Margarita',
       'Redwood City', 'Riverside', 'Rocklin', 'Roseville', 'Sacramento',
       'Salinas', 'San Clemente', 'San Diego', 'San Francisco', 'San Jose',
       'San Marcos', 'San Mateo', 'Santa Ana', 'Santa Clara', 'Santa Clarita',
       'Santa Monica', 'Santa Rosa', 'Sunnyvale', 'Temecula', 'Union City',
       'Upland', 'Vacaville', 'Vista', 'Walnut Creek', 'West Covina',
       'West Hollywood'],
      dtype='object', name='City Name')

In [14]:
# Looped through the cities list querying out the city names to create city ids for each individual city,
# if city was not in the cities table in PostgreSQL, added a new city record with empty data to table,
# if city does exist in the cities table, nothing will be added.

for name in grouped_cities_list:

    results = session.query(Cities.city_id).filter(Cities.city_name == name).first()
    if results == None:
        new_city = Cities(city_name = name, population = 0, cost_of_living = 0.0, median_income = 0, median_age = 0)
        session.add(new_city)
        
session.commit()

In [15]:
# Calling all data from dataframe columns to separate lists to be added to PostgreSQL Avg Rent table and set a counter

all_cities = all_rents_ca['City Name'].to_list()
all_types = all_rents_ca['Aprt Type'].to_list()
all_rent_avgs = all_rents_ca['Avg Rent'].to_list()

i = 0

# Looped through the names in the all cities list, checked for their new associated city_id created from previous query and
# data addition to cities table to add to the Avg Rent table along with the data in the other lists.

for name in all_cities:
    results = session.query(Cities.city_id).filter(Cities.city_name == name).first()
    city_id = results[0]
    
    results = session.query(Avg_Rents.rec_id).filter(Avg_Rents.city_id == city_id). \
                filter(Avg_Rents.apt_type == all_types[i]).first()
    if results == None:

        new_record = Avg_Rents(city_id = city_id, apt_type = all_types[i], avg_rent = all_rent_avgs[i])
        session.add(new_record)
    else:
        rec_id = results[0]
        # record exists -- update
        session.query(Avg_Rents)\
                      .filter(Avg_Rents.rec_id == rec_id)\
                      .update({Avg_Rents.avg_rent: all_rent_avgs[i]})
    i = i + 1
    
session.commit()

In [16]:
session.close()